/* --------------------------------- T Y P O G R A P H Y ----------------------------------------*/
@font-face {
    font-family: shabnam;
    src: url('fonts/Shabnam.eot');
    src: url('fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
        url('fonts/Shabnam.woff') format('woff'),
        url('fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: shabnam;
    src: url('fonts/Shabnam-Bold.eot');
    src: url('fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Shabnam-Bold.woff') format('woff'),
        url('fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: shabnam;
    src: url('fonts/Shabnam-Light.eot');
    src: url('fonts/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Shabnam-Light.woff') format('woff'),
        url('fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

*:not([class*='icon']):not(.fa):not(i) {
    font-family: shabnam;
    letter-spacing: normal !important;
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
section,
mark,
ol,
ul,
li,
form,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
input[type="text"],
input[type="textarea"],
input[type="submit"] {
    font-family: shabnam;
    letter-spacing: normal !important;
}

a,
span {
    font-family: shabnam;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: shabnam;
    direction: rtl;
    letter-spacing: normal;
}

p {
    font-family: fontname;
    letter-spacing: normal;
    direction: rtl;
}

.fa,
[class*='fa-'] {
    font-family: "FontAwesome";
}

.ab-icon {
    font: 400 20px/1 "dashicons";
}

.dashicons {
    font-family: "dashicons";
}

.font-number {
    display: inline-block;
    direction: ltr;
}

/* --------------------------------- G E N E R A L ----------------------------------------*/

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after,
.wprt-container:before,
.wprt-container:after {
    clear: both;
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after,
.wprt-container:after {
    clear: both;
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.hidden {
    display: none !important
}

.affix {
    position: fixed
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

input[type="email"],
textarea {
    width: 100%;
    border: 1px solid #ef7e70;
    line-height: 35px;
    padding-right: 7px;
    border-radius: 0px;
    font-size: 15px;
}

/* --------------------------------- H E A D E R ----------------------------------------*/

#header {
    padding: 20px 0;
}

#header .top-header-left {
    padding: 10px;
}

#header .top-header-right .logo {
    max-width: 250px;

}

#header .top-header-left #searchform {
    overflow: hidden;
    width: 80%;
    box-shadow: 0 0 3px #f0f0f0;
    -moz-box-shadow: 0 0 3px #f0f0f0;
    -o-box-shadow: 0 0 3px #f0f0f0;
}

#header .top-header-left #searchform input#s {

    -webkit-box-shadow: 0 0 2px #ccc;
    border-left: none;
    border-radius: 0px;
    border: 1px solid #c8c8c8;
    border-left: none;
    box-shadow: none;
    color: #3c3c3c;
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding-right: 5px;
    width: 87%;
}

#header .top-header-left #searchform input#searchsubmit {
    background: transparent url("img/search-icon-white.png") no-repeat center center;
    background-size: 15px 15px;
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    border-radius: 0;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #c8c8c8;
    border-right: none;
    cursor: pointer;
    float: right;
    height: 30px;
    margin: 0;
    width: 13%;
}

#header .top-header-left .account {}

#header .top-header-left .account li {
    display: inline-block;
}

#header .top-header-left .account li:after {
    content: "";
    display: inline-block;
    width: 1px;
    margin-left: 15px;
    height: 10px;
    background-color: #ccc;
}

#header .top-header-left .account li:last-child:after {
    display: none;
}

.account li a .fa {
    display: inline-block;
    vertical-align: sub;
    padding-left: 8px;
    font-size: 20px;
}

#header .top-header-left .account li a span {
    font-size: 17px;
    font-weight: lighter;
}

#header .top-header-left .account li a span {
    display: inline-block;
    padding: 0 10px;
}

#header .top-header-left .language li {
    display: inline-block;
}

#header .top-header-left .language li:after {
    content: "";
    display: inline-block;
    width: 1px;
    margin: 0 15px;
    height: 13px;
    background-color: #ccc;
}

#header .top-header-left .language li a {
    display: inline-block;
    vertical-align: super;
}

#header .top-header-left .language li:last-child:after {
    display: none;
}

.navigation-wrapper {
    padding-top: 10px;
    position: relative;
}

.navigation-wrapper:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #e21800;
    position: absolute;
    bottom: 8px;
    z-index: -1;
}

.navigation-wrapper #main-menu > li {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    padding-bottom: 17px;
}

.navigation-wrapper #main-menu > li:first-child a {
    padding-right: 35px;
}

.navigation-wrapper #main-menu > li:first-child a:before {
    content: "\f015";
    position: absolute;
    display: inline-block;
    font-family: fontAwesome;
    margin-left: 8px;
    font-size: 25px;
    right: 5px;
    bottom: 15px;

}

.navigation-wrapper #main-menu > li.active a {
    background: #e21800;
    color: #fff;
}

.navigation-wrapper #main-menu > li:last-child {
    margin-left: 0;
}

.navigation-wrapper #main-menu > li a {
    transition: all .2s;
    display: block;
    padding: 7px 10px;
}

.navigation-wrapper #main-menu > li > a:hover {
    color: #fff;
    background: #e21800;
}

.navigation-wrapper #main-menu li > ul,
.navigation-wrapper #main-menu li > ul > li > ul {
    display: none;
    transition: all .2s;
}

.navigation-wrapper #main-menu > li:hover > ul,
.navigation-wrapper #main-menu > li > ul > li:hover > ul {
    display: block;
}

.navigation-wrapper #main-menu > li > ul {
    width: 250px;
    background: #fff;
    position: absolute;
    top: 50px;
    box-shadow: 0 0 4px #f8f8f8;
    border-top: 3px solid #e21800;
    z-index: 999;
}

.navigation-wrapper #main-menu > li > ul > li {
    position: relative;
}

.navigation-wrapper #main-menu > li > ul:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 9px solid #e21800;
    position: absolute;
    top: -12px;
    right: 5px;
}

.navigation-wrapper #main-menu > li > ul li:hover > a {
    border-right: 3px solid #e21800;
}

.navigation-wrapper #main-menu > li > ul > li > ul {
    position: absolute;
    box-shadow: 0 0 4px #f8f8f8;
    width: 250px;
    background: #fff;
    right: 250px;
    top: 0;
    z-index: 999;
}

#main section {
    padding-bottom: 20px;
}

#main section:last-child {
/*     padding-bottom: 0; */
}

.slider {
    position: relative;
}

.slider .slide {
    display: block;
    position: relative;
}

.slider .slider-body {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    bottom: 0;
    margin: auto;
    padding: 20px;
}

.slider .slide .item-title {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.slider .item-excerpt {
    line-height: 25px;
}

.slider-arrow {
    width: 30px;
    height: 30px;
    background: #e21800;
    color: white;
    text-align: center;
    line-height: 28px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 43%;
    z-index: 999;
    font-weight: lighter;
}

.arrow-next {
    right: 0;
}

.arrow-prev {
    left: 0;
}

.box .box-title {
    border-bottom: 3px solid #e21800;
    padding: 10px 0px;
}

.box .box-title h3 {
    font-weight: normal;
    line-height: 20px;
    padding: 0 5px;
}

.box .box-content {
    padding: 10px 0;
}

.featured-product li {
    display: inline-block;
    width: 32.33%;
    padding-left: 5px;
}

.featured-product li:last-child {
    padding: 0;
}

.box .box-content.bullet-list li {
    line-height: 30px;
}

.box .box-content.bullet-list li:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #e21800;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.featured-tab-container {
    display: flex;
}

.featured-tab-container.left-tab {
    flex-direction: row-reverse;
}

.featured-tab-container.left-tab .featured-head {
    border-right: 3px solid #e21800;
    margin-right: 15px;
}

.featured-tab-container.right-tab .featured-head {
    border-left: 3px solid #e21800;
    margin-left: 15px;
}

.featured-tab-container .featured-head {
    width: 23%;
    display: inline-block;
    text-align: center;
}

.featured-tab-container .featured-head h3 {
    padding: 25px 0;
}

.featured-tab-container .featured-head li {
    line-height: 25px;
    margin-bottom: 10px;
}

.featured-tab-container .featured-head li a {
    display: block;
    padding: 6px 4px;
}

.featured-tab-container .featured-head li.active a {
    background: #e21800;
    color: white;
}

.featured-tab-container .featured-head li:last-child {
    margin-bottom: 0;
}

.featured-tab-container .featured-content {
    display: inline-block;
    width: 75%;
}

.article-1 {
    position: relative;
    margin-bottom: 7px;
    display: inline-flex;
}

.article-1 .article-body h3 {
    font-weight: normal;
    line-height: 30px;
}

.article-1 .article-body p {
    font-size: 12px
}

.article-1 .article-body {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 7px;
}

.article-half-wrapper {
    display: flex;
}

.article-half-wrapper .article-hlaf {
    width: 49%;
}

.article-half-wrapper .article-half:first-child {
    margin-left: 7px;
}

.left-border {
    border-left: 3px solid #e21800;
}

.bottom-border {
    border-bottom: 3px solid #e21800;
}

.top-border {
    border-top: 4px solid #e21800;
}

.btn {
    border: none;
    margin-top: 10px;
    background: #ef7e70;
    color: white !important;
    font-size: 15px;
}

.btn-full {
    display: block;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.sale-slider-product {}

.sale-slider-product div .product-description {
    display: none;
    transition: all 300ms ease;
    text-align: center;
}

.sale-slider-product div .product-description h3 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
}

.sale-slider-product div img {
    margin: 31px 0;
    transition: all 300ms ease;
}

.sale-slider-product .slick-current div img {
    transition: all 300ms ease;
    border: 2px solid #e21800;
    border-radius: 3px;
    transform: scale(1.2);
}

.sale-slider-product .slick-slide {
    padding: 0 8px;
}

.sale-slider-product .slick-current div .product-description {
    transition: all 300ms ease;
    display: block;
    margin-top: 15px
}

.sale-slider-product .slick-current div .product-description span {
    display: block;
    background: #e21800;
    color: white;
}

.sale-slider-product .slick-current div .product-description span.amount {
    background: transparent;
    color: black;
}

.box-background {
    background: #ffe5e1;
}

.home-video {
    position: relative;
    display: flex;
    max-height: 330px;
}

.home-video .play-icon {
    width: 80px;
    height: 80px;
    background: transparent;
    display: inline-block;
    text-align: center;
    line-height: 76px;
    font-size: 40px;
    color: white;
    border-radius: 50%;
    padding-left: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 31%;

    border: 7px solid white;
    cursor: pointer;
}

.home-video h3 {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.middle-banner {
    display: flex;
    justify-content: space-between;
}

.middle-banner .banner-item {
    display: block;
    width: 90%;
    margin-left: 20px;
}

.middle-banner .banner-item:last-child {
    margin-left: 0;
}

.middle-banner .banner-item img {
    max-width: 100%;
    display: block;
}

.product-tab .product-item {
    margin-bottom: 20px;
}

.product-tab .product-item img {
    width: 150px;
    float: left;
    padding: 10px;
    vertical-align: middle;
}

.product-tab .product-item h3 {
    font-weight: normal;
    line-height: 35px;
    margin-bottom: 5px;
}

.banners-2-wrapper .banner-item {
    display: block;
    margin-bottom: 10px;
}

.ht-blog-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ht-blog-box .ht-blog-item {
    width: 45%;
    overflow: hidden;
}

.ht-blog-box .ht-blog-item img {
    float: right;
    max-width: 45%;
    margin-left: 15px;
}

.ht-blog-box .ht-blog-item h3 {
    font-weight: normal;
    margin: 25px 0;
}

.ht-blog-box .ht-blog-item span {
    color: #aaa;
    font-weight: lighter;
}

.g-blog-box li {
    overflow: hidden;
    margin-bottom: 10px;
}

.g-blog-box li img {
    float: right;
    width: 40%;
    margin-left: 10px;
}

.g-blog-box li h3 {
    font-weight: normal;
    margin-bottom: 5px;
}

.g-blog-box li p {}

.mailpoet-wrapper p,
.poll-wrapper p {
    line-height: 26px;
    margin-bottom: 10px;
}

.row.fixe-height-seven div {
    min-height: 225px;
}

#footer {
    padding-top: 15px;
    margin-top: 15px;
    background: #ffe5e1;
    border-bottom: 3px solid #f4a69c;
}
#footer .footer-widg ul li {
    line-height: 30px;
    margin-bottom: 5px;
}
#footer .footer-widg ul li:last-child {
    margin-bottom: 0;
}
#footer ul li a {
    display: block;
    font-size: 17px;
    font-weight: lighter;
}
#footer .socials {
    text-align: center;
}
#footer .socials li {
    display: inline-block;
    text-align: center;
    list-style: none;
    margin: 4px;
}
#footer .socials li a {
    padding: 2px 10px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: block;
}
#footer .socials li a.facebook {
    background-color: #3b589e;
}
#footer .socials li a.instagram {
    background-color: #c738aa;
}
#footer .socials li a.rss {
    background-color: #db2824;
}
#footer .socials li a.telegram {
    background-color: #2fa7db;
}
#footer .socials li a.twitter {
    background-color: #12c1ff;
}
#footer .socials li a.linkedin {
    background-color: #0274b3;
}
#footer .socials li a.youtube {
    background-color: #db2824;
}
#footer .socials li a.google-plus {
    background: #c02126;
}
#footer .socials li a.aparat {
    display: block;
    width: 38px;
    height: 38px;
    background-image: url("img/aparat.png");
    background-size: cover;
}
#footer .copyright-wrapper {
    width: 100%;
    text-align: center;
}
#footer .copyright {
    background: #f4a69c;
    width: 70%;
    display: inline-block;
    padding: 8px 0 6px;
    margin-top: 5px;
}